---
---

@import "{{ site.theme }}";
.page-header {
  color: #009DDD;
  background-color: #E8E8E8;
  background-image: url('../../Img/227Blur.PNG');
  width:100%;
  background: url('../../Img/227Blur.PNG') no-repeat top left fixed;
   background-size: cover;
}
