---
---

@import "{{ site.theme }}";
.page-header {
  color: #009DDD;
  background-color: #E8E8E8;
  background-image: url('../../Img/227Blur.PNG');
  width:100%;
  background: url('../../Img/227Blur.PNG') no-repeat top left fixed;
   background-size: cover;
}

.btn-default {
  color: #333;
  background-color: #f4f6f9;
  border-color: #009DDD;
}

h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #009DDD;
  }
