<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    
<link rel="apple-touch-icon" sizes="180x180" href="/Img/Favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/Img/Favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="/Img/Favicon/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="/Img/Favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/Img/Favicon/favicon-16x16.png">
<link rel="manifest" href="/Img/Favicon/site.webmanifest">
<link rel="mask-icon" href="/Img/Favicon/safari-pinned-tab.svg" color="#009ddd">
<link rel="shortcut icon" href="/Img/Favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="22/7 Photo Backup">
<meta name="application-name" content="22/7 Photo Backup">
<meta name="msapplication-TileColor" content="#009ddd">
<meta name="msapplication-TileImage" content="/Img/Favicon/mstile-144x144.png">
<meta name="msapplication-config" content="/Img/Favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
    
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/master.cssv=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  </head>
  <body>
   

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.title | default: 22/7 Photo Backup }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: Unofficial | Fanbase }}</h2>
      {% if site.github.is_project_page %}
        <a rel="noopener noreferrer" href="http://227.nets.hk" class="btn">Home</a>
        <a target="_blank" rel="noopener noreferrer" href="http://www.nanabunnonijyuuni.com" class="btn">22/7 Official HP</a>
        <a target="_blank" rel="noopener noreferrer" href="https://nanabunnonijyuuni-mobile.com/s/n110/?ima=0956" class="btn">22/7 Fan Club</a>
        <!--<a href="https://227-game.com" class="btn">22/7 音楽の時間</a>-->
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner">This work by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">HE8072</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0 License</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
    
    <a class="gotopbtn" href="#"><img src="/Img/gotop.png" width="22"></a>
    
  </body>
</html>
